@font-face {
  font-family: "Gilroy";
  src: url("../../public/fonts/Gilroy-Light.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "Gilroy";
  src: url("../../public/fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Gilroy";
  src: url("../../public/fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Gilroy";
  src: url("../../public/fonts/Gilroy-Heavy.woff") format("woff");
  font-weight: 900;
}
:root{
  --primary-color: rgb(229,229, 229);
  --shadow-color: #c3c2c0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p{
  margin-bottom: 0;
}
ul{
  padding-left: 0;
}
li{
  list-style: none;
}
body {
  font-family: "Gilroy", sans-serif;
  background-color: var(--primary-color);
  font-size: 1rem;
}
@media only screen and (max-width: 480px) {
  body{
    font-size:0.85rem
  }
}

html{
  position: relative;
}

h2,
h3 {
  margin-bottom: 1rem;
}
/* Start of Navigation */
header{
  width: 100%;
  box-shadow: 0 0 10px var(--shadow-color);
}
.desktop-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.desktop-nav li {
  padding: 1rem;
}
@media only screen and (max-width: 480px){
  .desktop-nav li{
    padding: 0.5rem;
  }
}
/* user drop-down */
.user-container,
.notification-container {
  position: relative;
}
.user-drop-down {
  position: absolute;
  background-color: white;
  border-radius: 0.5rem;
  top: 5.2rem;
  right: 1.5rem;
  width: 170px;
  padding: 1rem 0 0;
  box-shadow: 0 0 5px var(--shadow-color);
  z-index: 10000;
  text-align: center;
}
@media only screen and (max-width: 480px){
  .user-drop-down {
    top: 4.1rem;
    right: 0;
  }
}

hr.solid {
  width: 80%;
  border-width: 0.2rem;
  margin: 1rem auto;
}

/* End of Navigation */

/* Start of buttons */

input[type="submit"] {
  font-size: 1rem;
  width: 6rem;
  border-radius: 1rem;
  background-color: black;
  color: white;
  opacity: 1;
  border: none;
}
input[type="submit"]:hover {
  cursor: pointer;
  background-color: #e7d7c1;
}

.google-signin-container {
  border: 1px solid white;
  border-radius: 1rem;
  padding: 0.7rem 1rem;
  background-color: black;
}
.google-signin-container a {
  color: white;
}
.google-signin-container:hover {
  background-color: #e7d7c1;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.google-signin-container a:hover {
  color: white;
}
@media only screen and (max-width: 480px) {
  .google-signin-container a {
    font-size: 1rem;
  }
}

/* End of Buttons */



.post-content {
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-line;
}
.section-title {
  width: 90%;
  margin: 0.2rem 0;
  text-align: left;
  font-weight: 400;
  letter-spacing: 0.5rem;
  font-size: 3rem;
  float: left;
  text-decoration: #797a71 wavy underline;
}
@media only screen and (max-width: 480px) {
  .section-title {
    font-size: 2rem;
    margin: 2rem 0;
  }
  .form-title {
    width: 90vw !important;
  }
}

/* Input and Forms start here*/

input,
textarea {
  width: 100%;
  color: black;
  border-radius: 1rem;
  padding: 0.8rem;
}
form {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1.5rem;
}


.post,
.login-form,
.signup-form {
  background-color: white;
  padding: 2rem; 
  border-radius: 2rem;
  box-shadow: 0 0 5px var(--shadow-color); 
}
.login-form {
  width: 30rem;
  height: 30rem;
}

.login-wrapper,
.signup-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  margin-bottom: 30rem;
  gap: 10rem;
}
.signup-wrapper{
  margin-top: 5rem;
  flex-direction: column;
  gap: 3rem;
}
@media only screen and (max-width: 480px) {
  .signup-form {
    height: 650px;
    padding: 2rem 1rem;
  }
  .login-wrapper,
  .signup-wrapper {
    gap: 4rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
    flex-direction: column;
  }
}
.upload-btn label{
  background-color: black;
  color: white;
  padding: 6px 12px;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
}

/* Inputs and Forms ends here */
.post {
  width: 70vw;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.post-edit-form form {
  min-height: 400px;
  gap: 2rem;
}
.post-edit-form {
  min-height: 500px;
}

/* Divider line starts here */
.divider{
  height: 1px;
}
hr{
  opacity: 1;
}
.hr-text {
  border: 0;
  line-height: 1em;
  position: relative;
  width: 1.5em;
  height: 300px;
  font-size: 1.2rem;
}

.hr-text::before {
  content: "";
  background-color: white;
  position: absolute;
  left: 50%;
  height: 100%;
  width: 2px;
}

.hr-text::after {
  content: attr(data-content);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  border-radius: 3rem;
  color: white;
  background-color: rgb(229,229, 229);
}

.signup-wrapper .hr-text {
  width: 40%;
  height: 2rem;
}
.signup-wrapper .hr-text::before {
  width: 100%;
  height: 4px;
  top: 50%;
  left: 0;
}
@media only screen and (max-width: 480px) {
  .hr-text {
    width: 90%;
    height: 3rem;
  }
  .hr-text::before {
    width: 100%;
    height: 2px;
    top: 50%;
    left: 0;
  }
  .signup-wrapper .hr-text {
    width: 90%;
    height: 2rem;
  }
}

/* Links start here*/
.login-link{
  color: var(--primary-color);
}

/* Links end here */

/* Divider line ends here */

.form-container form {
  display: flex;
  flex-direction: column;
  width: 70vw;
  gap: 2rem;
  border: 5px solid #797a71;
  padding: 2rem;
  margin-bottom: 10rem;
  border-radius: 2rem;
}
@media only screen and (max-width: 480px) {
  .form-container form {
    width: 90vw;
  }
}
.form-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70vw;
}
textarea {
  height: 200px;
}

.input-container {
  position: relative;
}
.input-icon {
  position: absolute;
  width: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
}
#password-visibility {
  right: 10px;
}
#password-visibility:hover {
  cursor: pointer;
}
.nav-icon i {
  background-color: bisque;
  border-radius: 2px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
}
.nav-icon i:nth-child(1) {
  -webkit-animation: outT 0.8s backwards;
  animation: outT 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}
.nav-icon i:nth-child(2) {
  margin: 5px 0;
  -webkit-animation: outM 0.8s backwards;
  animation: outM 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}
.nav-icon i:nth-child(3) {
  -webkit-animation: outBtm 0.8s backwards;
  animation: outBtm 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.nav-icon.active i:nth-child(1) {
  -webkit-animation: inT 0.8s forwards;
  animation: inT 0.8s forwards;
}
.nav-icon.active i:nth-child(2) {
  -webkit-animation: inM 0.8s forwards;
  animation: inM 0.8s forwards;
}
.nav-icon.active i:nth-child(3) {
  -webkit-animation: inBtm 0.8s forwards;
  animation: inBtm 0.8s forwards;
}
/* animated nav icon */
@-webkit-keyframes inM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes inM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes outM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes outM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes inT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes outT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes inBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

@-webkit-keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes outBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

.hide {
  display: none;
}
#close-menu-bar {
  display: none;
}

a {
  text-decoration: none;
  color: black;
  transition: all 0.5s;
  letter-spacing: 0.17rem;
}

.get-started-btn{
    color: white;
    background: black;
    padding: 0.8rem;
    border-radius: 2rem;
}
@media only screen and (max-width: 480px){
  .get-started-btn{
    letter-spacing: 0;
    padding: 0.5rem;
  }
}
.get-started-btn:hover{
  background-color: #e7d7c1;
  color: #080b01;
}
@media only screen and(max-width: 480px){
  .get-started-btn{
    font-size: 0.05rem;
    padding: 1rem;
  }
}
.active-link {
  border-bottom: 1px solid white !important;
}
@media only screen and (max-width: 480px) {
  .nav-icon {
    display: block;
  }
  #open-menu-bar {
    display: block;
  }
  .active-link {
    border-bottom: 0.2rem solid beige;
  }
}
.reactions-container {
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
}
.reactions-container li {
  list-style: none;
  font-weight: 700;
}
.reactions-container li:hover {
  color: white;
  cursor: pointer;
}
.nav-link:hover {
  color: #e7d7c1;
  cursor: pointer;
}
@media only screen and (max-width: 480px) {
  .create-post-btn {
    border: 3px solid bisque;
  }
  .nav-link:hover {
    border-radius: 0.5rem;
    box-shadow: 10px 5px 5px bisque;
    padding-right: 0.8rem;
  }
}
.create-post-btn:hover {
  color: white;
}
.post-display-message {
  padding: 2rem;
  color: grey;
}
/* Home Page Layout  starts here*/
.home-wrapper,
.form-wrapper,
.post-wrapper,
.profile-wrapper {
  margin: 1rem auto;
}

.home-wrapper{
  width: 70%;
}
@media only screen and (max-width: 480px) {
    .home-wrapper{
       width: 100%;
    }
}

.post-container,
.user-card-container {
  box-shadow: 0 0 10px var(--shadow-color);
  border-radius: 0.5rem;
  padding: 0 1rem;
  background-color: white;
}
@media only screen and (max-width: 480px){
  .post-container{ 
    width: 100% !important;
    margin-top: 0 !important;
  }
}
.post-bottom-nav{
  margin-top: 1rem;
}
.topics-nav{
  border-radius: 1rem;
  font-size: 0.8rem;
  top: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
/* Home page layout ends here */


/* Post Markdown Editor starts here  */

.editor-wrapper{
  margin-top: 1rem;
  width: 50%;
}
@media only screen and (max-width: 480px){
  .editor-wrapper{
    width: 100%;
    padding: 0;
    margin-top: 0;
  }
  .editor{
    margin-top: 2rem;
    padding: 1rem !important;
  }
  .mdxeditor.text-editor{
    height: 80vh;
  }
}
.editor{
  border-radius: 1rem;
}
.editor input{
  border: none;
}
.editor input::placeholder{
    font-size: 1.5rem;
}
.opacity-50 {
  opacity: 0.5 !important;
}
.text-editor{
  overflow: auto;
  min-height: 55vh;
}
.text-editor ol li,
.post-content ol li
{
 list-style: decimal !important;
}
.text-editor ul li,
.post-content ul li
{
  list-style: disc !important;
  margin-left: 1rem;
 }
 .text-editor ul {
  margin-left:  1rem !important;
 }
.mdxeditor-popup-container{
  display: none;
}
/* Post Markdown Editor ends here */

@media only screen and (max-width: 480px) {
  .posts-wrapper,
  .form-wrapper,
  .profile-wrapper {
    margin-top: 6rem;
  }
  .post-wrapper {
    margin: 7rem auto 10rem;
    padding-top: 7rem;
  }
  .posts-wrapper{
    margin-top:1rem
  }
}
.form-wrapper {
  margin: 4rem auto 12rem;
}
.form-container {
  margin-top: 0;
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 480px) {
  .form-wrapper {
    margin-top: 0;
  }
  .form-container {
    padding-top: 5rem;
  }
}

.info-message {
  background-color: #c1ae95;
  padding: 1em;
  color: white;
  width: 20%;
  text-align: center;
  border-radius: 2rem;
  align-self: center;
}
.login-form input:not(:last-of-type) {
  width: 100%;
}
@media only screen and (max-width: 480px) {
  .post,
  .login-form,
  .signup-form {
    width: 90vw;
  }
}
.btn-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.post-metadata p:first-of-type {
  font-size: 0.8rem;
}
.post-metadata p:nth-of-type(2),
.post-metadata p:last-child {
  opacity: 0.3;
  font-size: 0.8rem;
  padding-bottom: 0.2rem;
  font-weight: 700;
}
@media only screen and (max-width: 480px) {
  .post-metadata {
    font-size: 0.8rem;
  }
}
/* Authentication */
/* Icon starts here */
.icon {
  width: 30px;
  height: 30px;
}
.icon:hover{
  cursor: pointer;
}
@media only screen and (max-width: 480px){
.icon {
  width: 30px;
  height: 30px;
}
}
.profile-pic {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
.file-preview{
  box-sizing: border-box;
  width: 10em;
}
.cover-image{
  height: 300px;
  border-radius: 0.5rem 0.5rem 0 0
}
@media only screen and (max-width: 480px){
  .cover-image{
    height: 300px;
    border-radius: 0;
  }
}
/* Icons end here */

/* User profile starts here*/
.user-profile-wrapper{
  margin-top: 5rem;
}
.user-bg{
  height: 100px;
}
.user-profile-container,
.user-posts{
  margin-top: 2rem;
  width: 55%;
  min-height: 16rem;
  z-index: 1;
  border-radius: 0.5rem;
}
@media only screen and (max-width: 480px){
   .user-posts{
      width: 100%;
      margin-top: 0;
   }
.user-info-editor{
   width: 100% !important;
}
.user-profile-container{
  width: 100%;
}
}

.profile-edit-container{
  box-shadow: 0 0 5px var(--shadow-color); 
  border-radius: 1rem;
}


/* User profile ends here */
.error-message {
  color: red;
  font-style: italic;
}

/* Messages */
.error-message {
  color: red;
}
