<header></header>
<%- include("../partials/header.ejs") %>
    </header>
    <div>
        <div class="signup-wrapper">
            <div class="signup-form">
                <form action="/add-user" method="POST">

                        <input type="text" id="title" name="name" placeholder="name" />

                        <input type="text" id="title" name="username" placeholder="username" />
                    
                    <input type="text" id="title" name="email" placeholder="email" />
                    <input type="text" pattern="[a-h1-8]+" name="password" placeholder="password">
                    <input type="text" pattern="[a-h1-8]+" name="password-confirmation" placeholder="re-enter password">
                    <div class="btn-container">
                        <a class="cancel-btn" href="/login">Login</a>
                        <input type="submit" value="Sign up" />
                    </div>
                </form>
            </div>
        </div>

        <footer>
            <%- include("../partials/footer.ejs") %>
        </footer>