<header></header>
<%- include("../partials/header.ejs") %>
    </header>
    <div>
        <div class="login-wrapper">
            <!-- Manual Login Method -->
            <form class="login-form" action=" /login" method="POST">
                <label for="title">Username or Email</label>
                <input type="text" id="title" name="username"/>
                <label for="password">Password</label>
                <input id = "password" type="password" name="password" required>
                <label for="password-confirmation">Password Confirmation</label>
                <input id = "password-confirmation" type="password" name="password-confirmation" required>
                <% if (locals.errorMessage) { %>
                    <p class="error-message"><%= errorMessage %></p>
                  <% } %>
                  <p class="validation-message hide"></p>
                <div class="btn-container">
                    <input type="submit" value="Log in" />
                </div>
            </form>
                <!-- Devider  -->
                <hr class="hr-text" data-content="OR">
            <!-- Google Login Method -->
            <div class="google-signin-container">
                <a class="btn btn-block" href="/auth/google" role="button">
                    <i class="fab fa-google"></i> Sign in with Google
                </a>
            </div>
        </div>
    </div>

    <footer>
        <%- include("../partials/footer.ejs") %>
    </footer>