<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/main.css">
    <title>Blog</title>
    <!-- <script src="js/main.js"></script> -->
</head>

<body>
    <ul>
        <li><a class="nav-link" href="/">your feeds</a></li>
        <li><a class="nav-link" href="/my-posts">my posts</a></li>
        <li><a class="nav-link create-post-btn" href="/create-post">Create Post</a></li>
    </ul>