<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/main.css">
    <title>Blog</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>

<body>
    <nav>
        <!-- Desktop Navigation Bar -->
        <ul class="desktop-nav">
            <li><a class="nav-link" href="/">your feeds</a></li>
            <li><a class="nav-link" href="/my-posts">my posts</a></li>
            <li><a class="nav-link create-post-btn" href="/create-post">Create Post</a></li>
        </ul>
        <!-- Menu Bar Icons -->
        <div class="menu-bar">
            <!-- Open Menu Icon -->
            <svg class="nav-icon" id="open-menu-bar" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
            </svg>
            <!-- Close Menu Icon -->
            <svg class="nav-icon" id="close-menu-bar" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
        </div>
        <!-- Mobile Navigation Bar -->
        <ul class="mobile-nav hide">
            <li><a class="nav-link" href="/">your feeds</a></li>
            <li><a class="nav-link" href="/my-posts">my posts</a></li>
            <li><a class="nav-link create-post-btn" href="/create-post">Create Post</a></li>
        </ul>
    </nav>