<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <title>Blog</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>

<body>

<div class="form-wrapper">
    <div class="form-container">
        <div>
            <div class="form-title section-title">
                <p>New Post</p>
                <a href="/"><svg class= "icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                  </svg>
                  </a>
             </div>
        </div>
        <form class = "post-edit-form" method="POST" action="/add-post">
            <label for="title" aria-placeholder="hehe">Title</label>
            <input type="text" id="title" name="title" />
            <label for="body" aria-placeholder="sads">Body</label>
            <textarea id="body" name="body"></textarea>
            <input type="submit" value="POST" />
        </form>
    </div>
</div>
</body>
<footer><%- include("partials/footer") %></footer>